/INTXML/Demo/nbproject/private/
/INTXML/Demo/build/
/INTXML/Demo/dist/
/INTXML/ExamINTXML/nbproject/private/
/INTXML/ExamINTXML/build/
/INTXML/ASMXML/nbproject/private/
/INTXML/ASMXML/build/
/INTXML/ASMXML/dist/
/JSF_S2/App1_DemoLoginS2/build/
/INTXML/ASM/nbproject/private/
/INTXML/ASM/build/
/INTXML/DemoXMl/nbproject/private/
/INTXML/DemoXMl/build/
/INTXML/Networking/nbproject/private/
/INTXML/Test/nbproject/private/
/INTXML/Test/build/
/INTXML/Networking/build/
/INTXML/NetWorkingTest/nbproject/private/
/INTXML/Server/nbproject/private/
/INTXML/Client/nbproject/private/
/INTXML/Server/build/
/INTXML/Client/build/