<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>HelloS</servlet-name>
        <servlet-class>control.HelloSeverlet</servlet-class>
        <init-param>
            <param-name>Song</param-name>
            <param-value>i had my song</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloS</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>control.Controller</servlet-class>
        <init-param>
            <param-name>Song</param-name>
            <param-value>i had my song</param-value>
        </init-param>
    </servlet>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
